fastapi
uvicorn
python-multipart
pydantic
numpy
pandas
scikit-learn
nltk
PyPDF2
python-docx
sqlalchemy
spacy
python-jose
passlib[bcrypt]
pdfplumber
groq
python-dotenv
bcrypt
email-validator
lxml
joblib
regex
scipy
six
tqdm
click
typing-extensions
annotated-types
anyio
starlette